.social-media-btns .col {
  padding-right: 0;
}

header.jumbotron {
    background-image: url(../img/Dianas_Photos_25.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh
  }

.jumbotron {
  margin-bottom: 0;
}

#name {
    color: white;
    margin-top: 30em;
    text-align: center;
}